{% extends 'vr_tracking/vr_tracking_wrapper.html' %} 
{% block data %} 

        <div class="row">
            <div class="pagehd">
                <h2>Running the Code With A GUI</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid">
                    <li>The code for mapping directory hierarchies is written in Python and can be found below.</li>
                    <br>
                    <li>It uses a <i>Root</i> class to map the files and directories in any chosen directory, and then creates <i>Directory</i> classes for each directory found. The <i>Directory</i> classes then do the same for the directory they were created for. The resulting data structure preserves the hierarchy of the real directory.</li>
                    <br>
                    <h4><i>GUI_Layer.py</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/VR_Motion_Tracking/blob/master/GUI_Layer.py?footer=0"></script>
                </div>
            </div>
        </div>

{% endblock %}