{% extends 'base/base.html' %} 
{% block content %} 

<div class="pagect">
    <div class="container-fluid">
        <div class="row">
            <div class="pagehd">
                <h1 align="center">Mapping Real Steps to Virtual Reality Using Optical Mice</h1>
                <h4 align="center">(https://github.com/Topazoo/VR_Motion_Tracking)</h4>
            </div>
        </div>

        <br>

        <div class="navigation">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/vr_tracking">The Concept</a></li>
                <li role="presentation"><a href="/vr_tracking/code">The Code</a></li>
                <li role="presentation"><a href="/vr_tracking/gui">The GUI</a></li>
            </ul>
        </div>

        <br>

        <div class="row">
            <div class="pagehd">
                <h2>The Concept</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid">
                    <li>I recently bought a Gear S3 Classic smartwatch. When I paired it with my iPhone, I discovered that I could receive messages but not send them. I set out to build an application to allow me to send messages from my watch.</li>
                    <br>
                    <br>
                    <li><b>The code below is a server for sending messages and a native messaging application for the Gear S3 Smartwatch.</b></li>
                </div>
            </div>
            <hr>
        </div>
  </div>
</div>


{% endblock %}