{% extends 'vr_tracking/vr_tracking_wrapper.html' %} 
{% block data %} 

        <div class="row">
            <div class="pagehd">
                <h2 class="text-sm-center text-md-left">Running the Code With A GUI</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid">
                    <p class="text-sm-center text-md-left">The code below is a GUI layer for reading optical mouse data. It allows for devices to be connected and read from a simple interface instead of the command line. The <i>PyQt</i> Python library was used to build the GUI.</p>
                    <br><br>
                    <h4><i>GUI_Layer.py</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/VR_Motion_Tracking/blob/master/GUI_Layer.py?footer=0"></script>
                </div>
            </div>
        </div>

{% endblock %}