{% extends 'vr_tracking/vr_tracking_wrapper.html' %} 
{% block data %} 

        <div class="row">
            <div class="pagehd">
                <h2>The Concept</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid nopadding">
                    <li>Movement is one of the least realistic parts of the current VR experience. It substitutes a button push for the physical act of walking. A device that translates physical movement to movement in virtual reality would fundamentally change the experience.</li>
                    <br>
                    <br>
                    <li>I set about tracking footfalls with optical mice in an ongoing attempt to map them in virtual reality.</li>
                    <br>
                    <br>
                    <li><b>This code reads the speed and direction of multiple optical mice concurrently.</b></li>
                </div>
            </div>
        </div>

{% endblock %}