{% extends 'vr_tracking/vr_tracking_wrapper.html' %} 
{% block data %} 

        <div class="row">
            <div class="pagehd">
                <h2 class="text-sm-center text-md-left">Collecting Step Data From Multiple Devices Concurrently</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid">
                    <p class="text-sm-center text-md-left">The code below allows for multiple optical mice to be read concurrently. It uses the <i>pyusb</i> Python library to interface with the mice. Devices can be connected and read using the <i>USB_Mouse</i> class.</p>
					<br>
					<p class="text-sm-center text-md-left">The data is analyzed to provide the direction of the mouse and its relative speed instead of just the raw data array.</p>
					<br><br>
                    <h4><i>USB_Device.py</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/VR_Motion_Tracking/blob/master/USB_Device.py?footer=0"></script>
                </div>
            </div>
        </div>

{% endblock %}