{% extends 'base/base.html' %}
{% block content %}

<div class = "pagect">
<div class="container-fluid">
  <div class = "row">
    <div class = "pagehd">
	  <h1 align="center">Tracking Political Issue Salience Using Machine Learning</h1>
	  <h4 align="center">(https://github.com/Topazoo/Issue_Saliency_Analysis_Bot)</h4>
	</div>
  </div>

  <div class = "row">
    <div class = "pagehd">
      <h2>The Concept</h2>
	  <hr>
    </div>
    <div class="ct">
	<div class="container-fluid">
      <li>Some problems in computer science are naturally recursive, like mapping the contents of a filesystem. Every directory must be checked for directories which in turn must be checked for directories in a potentially infinite hierarchy. I set out to use recursion to quickly map directories stored on a server and display them to a web page.</li>
	  <br><br>
	  <li><b>The code below allows a webserver's frontend to dynamically display the server's underlying filesystem.</b></li>
    </div>
	</div>
	<hr>
  </div>

  <div class = "row">
    <div class = "pagehd">
	  <h2>Getting Top Users Demo</h2>
	  <hr>
    </div>
	<div class="ct">
	  <div class="container-fluid">
	    <form name="sub-form", method="post">
		{% csrf_token %}
		  <label for="subreddit">Enter a subreddit name: </label>
			<input type="text" id="subreddit" name="subreddit" placeholder="e.g. r/politics">
			<button id="submit" name="submit">Go!</button>
		</form>
		  <br><br>
		{% if users != None %}
		  {% for user in users %}
		    <p>{{user}}</p>
		  {% endfor %}
		{% endif %}
		  
	  </div>
	</div>
  </div>
</div>
</div>
{% endblock %}