{% extends 'base/base.html' %}
{% block content %}
{% csrf_token %}

<div class = "pagect">
<div class="container-fluid">
  <div class = "row">
    <div class = "pagehd">
	  <h1 align="center">Messenger App for the Gear S3 Smartwatch</h1>
	  <h4 align="center">(https://github.com/Topazoo/Gear_S3_Wifi_Messaging)</h4>
	</div>
  </div>

  <div class = "row">
    <div class = "pagehd">
      <h2>The Concept</h2>
	  <hr>
    </div>
    <div class="ct">
	<div class="container-fluid">
      <li>I recently bought a Gear S3 Classic smartwatch. When I paired it with my iPhone, I discovered that I could receive messages but not send them. I set out to build an application to allow me to send messages from my watch.</li>
		<br><br>
	  <li><b>The code below is a server for sending messages and a native messaging application for the Gear S3 Smartwatch.</b></li>
    </div>
	</div>
	<hr>
  </div>

  <div class = "row">
    <div class = "pagehd">
	  <h2>Server Demo</h2>
	  <hr>
    </div>
	<div class="ct">
	  <div class="container-fluid">
		<div class="col-md-12">
		<div>
		  <label for="phone">Enter a message: </label>
			<input type="text" id="message" name="message">
		  <br><br>
		  <label for="phone">Enter a phone number: </label>
			<input type="text" id="phone" name="phone" placeholder="e.g. 4152094084">
		  <br><br>
		  <label for="carrier">Choose a carrier: </label>
			<select id="carrier" name="carrier">
			  <option value="Verizon">Verizon</option>
			  <option value="AT&T">AT&T</option>
			  <option value="Sprint">Sprint</option>
			  <option value="TMobile">TMobile</option>
			</select>
		</div>
		<div>
		  <div class="col-md-6"  align="center" style="padding-top: 1em; padding-bottom: 1em;">
			<button id="snd-msg">Send Message</button>
		  </div>
		</div>
	  </div>
	</div>
	<hr>
    </div>
  </div>
 </div>

<br>

<div class = "row">
<div class = "pagehd">
  <h2>Sending Text Messages from The Server</h2>
  <hr>
</div>
<div class="ct">
<div class="container-fluid">
  <li>The watch has no built in text messaging server, so I built this server to send messages to phones using the SMTP email protocol. The server sends the message from a Gmail address in <i>config.ini</i>.</i></li>
  <br>
  <li>In the code below, messages from the client are received as POST requests where they are parsed and sent as text messages. See the demo above!</li>  
  <br> 
  <h4><i>views.py</i></h4>
  <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Gear_S3_Wifi_Messaging/blob/master/server/dispatch/base/views.py?footer=0"></script>
  <br> 
  <h4><i>models.py</i></h4>
  <script src="http://gist-it.appspot.com/https://github.com/Topazoo/Gear_S3_Wifi_Messaging/blob/master/server/dispatch/base/models.py?slice=43:52&footer=0"></script> 
</div>
</div>
<hr>
</div>
 <div class = "row">
<div class = "pagehd">
  <h2>Sending Messages from The Client</h2>
  <hr>
</div>
<div class="ct">
<div class="container-fluid">
  <li>The hard part was writing a client that runs natively on the watch. The code is below, written in C for the Tizen Wearable 3.0+ OS.</li>
  <br>
  <li>It uses the Tizen HTTP library to get text from the watch and transmit it to the messaging server when a button is pressed.</li>  
  <br> 
  <h4><i>watch_sample.c</i></h4>
	<script src="http://gist-it.appspot.com/http://github.com/Topazoo/Gear_S3_Wifi_Messaging/blob/master/client/src/watch_sample.c?footer=0"></script>
	<br>
	<li>The result is a native application that allows Gear S3 users to send texts over wifi.</li>
 </div>
</div>
<hr>
</div>
 </div>
 </div>
  
{% endblock %}