{% extends 'base/base.html' %} 
{% block content %}   
<div class="pagect">
        <br>   
        <div class="row">
            <div class="pagehd">
                <h3 class="text-xs-center text-md-left">Django Python Code</h3>
                <hr>
            </div>
            <div class="ct nopadding">
                <div class="container-fluid nopadding">
                    <p class="text-xs-center text-md-left">This site was designed using the Django Python Web Framework and is hosted on an AWS Ubuntu instance. Below are the <i>views</i>, the functions called when pages are visited.</p>
                    <br>
                    <h4><i>views.py</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Portfolio/blob/master/portfolio/base/views.py?footer=0"></script>
                </div>
            </div>
            <hr>
        </div>

        <br>

        <div class="row">
            <div class="pagehd">
                <h3 class="text-xs-center text-md-left">jQuery Code</h3>
                <hr>
            </div>
            <div class="ct nopadding">
                <div class="container-fluid">
                    <p class="text-xs-center text-md-left">Some of the server's front-end extends beyond just HTML. The jQuery code running on the server is below.</p>
                    <br>
                    <h4><i>portfolio-jquery.js</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Portfolio/blob/master/portfolio/base/static/js/portfolio-jquery.js?footer=0"></script>
                    <br>
                    <h4><i>tracking.js</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Portfolio/blob/master/portfolio/base/static/js/tracking.js"></script>
				</div>
            </div>
        </div>
		<div class="pagehd">
                <div class="col-md-12">
                    <hr>
                    <h6 align="center"><a class="nostyle gitlink" href="https://github.com/Topazoo/Portfolio">View on GitHub</a></h6>
                </div>
            </div>
        </div>
{% endblock %}