{% extends 'home/home_wrapper.html' %} 
{% block data %}      
        <div class="row">
            <div class="pagehd">
                <h2 class="text-sm-center text-md-left">Django Python Code</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid nopadding">
                    <p class="text-sm-center text-md-left">This site was designed using the Django Python Web Framework and is hosted on an AWS Ubuntu instance. Below are the <i>views</i>, the functions called when pages are visited.</p>
                    <br>
                    <h4><i>views.py</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Portfolio/blob/master/portfolio/base/views.py?footer=0"></script>
                </div>
            </div>
            <hr>
        </div>

        <br>

        <div class="row">
            <div class="pagehd">
                <h2 class="text-sm-center text-md-left">jQuery Code</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid">
                    <p class="text-sm-center text-md-left">Some of the server's front-end extends beyond just HTML. The jQuery code running on the server is below.</p>
                    <br>
                    <h4><i>portfolio-jquery.js</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Portfolio/blob/master/portfolio/base/static/js/portfolio-jquery.js?footer=0"></script>
                    <br>
                    <h4><i>tracking.js</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Portfolio/blob/master/portfolio/base/static/js/tracking.js"></script>
				</div>
            </div>
        </div>

{% endblock %}