{% extends 'base/base.html' %} 
{% block content %}
<div class="pagect">
        <div class="row">
            <div class="pagetitle">
				<h1 align="center">Welcome to My Projects Page</h1>
			</div>
		</div>

		<br>
				
		<div class="navigation">
			<ul class="nav nav-pills">
                <li role="presentation"><a href="/">Home</a></li>
				<li role="presentation"><a href="/about">About Me</a></li>
				<li role="presentation"><a href="/site">Site Code</a></li>
			</ul>
		</div>

		<br><br>

		{% block data %}
		  {% include "home.html" %}
		  {% include "home_site.html" %}
		  {% include "home_about.html" %}
		{% endblock %}
		
		<div class="pagehd">
			<div class="col-md-12">
				<hr>
				<br>
				<h6 align="center"><a class="nostyle" href="https://github.com/Topazoo/Portfolio">(https://github.com/Topazoo/Portfolio)</a></h6>
			</div>
		</div>
</div>
{% endblock %}