{% extends 'base/base.html' %} 
{% block content %}
<div class="pagect">
    <div class="container-fluid">
        <div class="row">
            <div class="pagehd">
                <h1 align="center">Welcome to My Projects Page</h1>
                <h4 align="center">(https://github.com/Topazoo/Portfolio)</h4>
            </div>
		</div>

		<br>
				
		<div class="navigation">
			<ul class="nav nav-pills">
                <li role="presentation"><a href="/">Home</a></li>
				<li role="presentation"><a href="/about">About Me</a></li>
				<li role="presentation"><a href="/site">Site Code</a></li>
			</ul>
		</div>

		<br>

    </div>
</div>
{% endblock %}