{% extends 'vr_game/vr_game_wrapper.html' %} 
{% block data %} 

        <div class="row">
            <div class="pagehd">
                <h2>The Code</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid">
				    <p>This script allows the HTC VIVE controllers to hold and release virtual objects on contact.</p>
					<br>
                    <p>The user can hold objects by resting their thumb on the right-hand touchpad.</p>
					<br>
					<p>The gun object will snap to the proper angle while held, thanks to the second script.</p>
                    <br>
					<div class="navigation">
					  <ul class="nav nav-pills">
						<li role="presentation"><a href="/vr_game/code">Walking Script</a></li>
						<li role="presentation"><a href="/vr_game/code/holding">Scripts for Holding Objects</a></li>
						<li role="presentation"><a href="/vr_game/code/shooting">Shooting Script</a></li>
                      </ul>
					</div>
					<br><br>
                    <h4><i>Touchpad_Pickup.cs - Hold objects by resting thumb on touchpad</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/VR_Shooting_Range_Unity/blob/master/Scripts/Touchpad_Pickup.cs?footer=0"></script>
					<br><br>
                    <h4><i>Hold_Object_at_Fixed_Angle.cs - Snap objects to an angle when they are held</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/VR_Shooting_Range_Unity/blob/master/Scripts/Hold_Object_at_Fixed_Angle.cs?footer=0"></script>
                </div>
            </div>
        </div>

{% endblock %}