{% extends 'vr_game/vr_game_wrapper.html' %} 
{% block data %} 

        <div class="row">
            <div class="pagehd">
                <h2>The Code</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid">
				    <p>This script allows a virtual gun to fire a bullet while held by an HTC VIVE controller.</p>
					<br>
                    <p>The user can fire the gun by pulling the controller's trigger.</p>
					<br>
					<p>The gun spawns a bullet object at a velocity that can be modified in the Unity engine.</p>
                    <br>
					<div class="navigation">
					  <ul class="nav nav-pills">
						<li role="presentation"><a href="/vr_game/code">Walking Script</a></li>
						<li role="presentation"><a href="/vr_game/code/holding">Scripts for Holding Objects</a></li>
						<li role="presentation"><a href="/vr_game/code/shooting">Shooting Script</a></li>
                      </ul>
					</div>
					<br><br>
                    <h4><i>Shoot.cs - Fire a gun with sound and particle effects</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/VR_Shooting_Range_Unity/blob/master/Scripts/Shoot.cs?footer=0"></script>
                </div>
            </div>
        </div>

{% endblock %}