{% extends 'vr_game/vr_game_wrapper.html' %} 
{% block data %} 

	  <div class="col-md-12">
		<div class="col-md-6 nopadding">
		 <div class="col-md-12" style="padding-left: 30px">
		   <div class="pagehd">
			 <h3 class="text-xs-center text-md-left">Creating a Game for the HTC VIVE</h3>
			 <hr>
		   </div>
		   <div class="ct nopadding">
			  <div class="container-fluid nopadding">
			    <p class="text-xs-center text-md-left">When I first got my HTC VIVE virtual reality headset, I wanted to learn the basics of developing VR games.</p>
			    <br><br>
			    <p class="text-xs-center text-md-left"><b>This is a virtual reality shooting range I built using the Unity game engine.</b></p>
				<br><br><br>
			  </div>
			</div>
		</div>
		</div>
	    <div class="col-md-6">
          <div class="col-md-12">
            <div class="row" style="padding-left: 30px;">
              <div class="pagehd">
                <h3 class="text-xs-center text-md-left">Game Demo</h3>
                <hr>
              </div>
              <div class="ct nopadding">
			    <iframe width="100%" height="37.5%" src="https://www.youtube.com/embed/1wAJ05UtX7Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			  </div>
			</div>
          </div>
        </div>
	  </div>

{% endblock %}