{% extends 'vr_game/vr_game_wrapper.html' %} 
{% block data %} 

        <div class="row">
            <div class="pagehd">
                <h2>The Concept</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid">
                    <li>When I first got my HTC VIVE virtual reality headset, I wanted to learn the basics of developing VR games.</li>
                    <br>
                    <br>
                    <li><b>This is a virtual reality shooting range I built using the Unity game engine.</b></li>
                </div>
            </div>
        </div>

{% endblock %}