{% extends 'vr_game/vr_game_wrapper.html' %} 
{% block data %} 

        <div class="row">
            <div class="pagehd">
                <h2>Scripts For Virtual Interaction</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid">
                    <li>The code for mapping directory hierarchies is written in Python and can be found below.</li>
                    <br>
                    <li>It uses a <i>Root</i> class to map the files and directories in any chosen directory, and then creates <i>Directory</i> classes for each directory found. The <i>Directory</i> classes then do the same for the directory they were created for. The resulting data structure preserves the hierarchy of the real directory.</li>
                    <br>
                </div>
            </div>
        </div>

{% endblock %}