{% extends 'vr_game/vr_game_wrapper.html' %} 
{% block data %} 

        <div class="row">
            <div class="pagehd">
                <h2 class="text-sm-center text-md-left">The Code</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid">
                    <p class="text-sm-center text-md-left">This script allows the HTC VIVE controllers to control the camera in order to simulate movement.</p>
					<br>
					<p class="text-sm-center text-md-left">In the game, the user can walk by pressing forward or backward on the left-hand touchpad.</p>
					<br>
					<p class="text-sm-center text-md-left">This moves the camera toward or away from whatever it is facing.</p>
          			<br>
					<div class="navigation">
					  <ul class="nav nav-pills">
						<li role="presentation"><a href="/vr_game/code">Walking Script</a></li>
						<li role="presentation"><a href="/vr_game/code/holding">Scripts for Holding Objects</a></li>
						<li role="presentation"><a href="/vr_game/code/shooting">Shooting Script</a></li>
                      </ul>
					</div>
					<br><br>
                    <h4><i>Walk_with_Head_Bob.cs - Allows for touchpad movement with realistic feel</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/VR_Shooting_Range_Unity/blob/master/Scripts/Walk_with_Head_Bob.cs?footer=0"></script>
                </div>
            </div>
        </div>

{% endblock %}