{% extends 'vr_game/vr_game_wrapper.html' %} 
{% block data %} 

        <div class="row">
            <div class="pagehd">
                <h2>The Concept</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid">
                    <li>I recently bought a Gear S3 Classic smartwatch. When I paired it with my iPhone, I discovered that I could receive messages but not send them. I set out to build an application to allow me to send messages from my watch.</li>
                    <br>
                    <br>
                    <li><b>The code below is a server for sending messages and a native messaging application for the Gear S3 Smartwatch.</b></li>
                </div>
            </div>
        </div>

{% endblock %}