{% extends 'base/base.html' %} 
{% block content %}

<div class="pagect">
    <div class="container-fluid">
        <div class="row">
            <div class="pagehd">
                <h1 align="center">Mapping Filesystems in Django</h1>
                <h4 align="center">(https://github.com/Topazoo/Django_Virtual_File_Hierarchy)</h4>
            </div>
        </div>

        <br>

        <div class="navigation">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/django_fs">The Concept</a></li>
                <li role="presentation"><a href="/django_fs/code">The Code</a></li>
                <li role="presentation"><a href="/django_fs/templates">The Templates</a></li>
            </ul>
        </div>

        <br>

        <div class="row">
            <div class="pagehd">
                <h2>Mapping Directory Hierarchies</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid">
                    <li>The code for mapping directory hierarchies is written in Python and can be found below.</li>
                    <br>
                    <li>It uses a <i>Root</i> class to map the files and directories in any chosen directory, and then creates <i>Directory</i> classes for each directory found. The <i>Directory</i> classes then do the same for the directory they were created for. The resulting data structure preserves the hierarchy of the real directory.</li>
                    <br>
                    <h4><i>directory_tree.py</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Django_Virtual_File_Hierarchy/blob/master/directory_tree.py?footer=0"></script>
                </div>
            </div>
            <hr>
        </div>

    </div>
</div>
{% endblock %}