{% extends 'django_fs/django_fs_wrapper.html' %} 
{% block data %}

        <div class="row">
            <div class="pagehd">
                <h2 class="text-xs-center text-md-left">Mapping Directory Hierarchies</h2>
                <hr>
            </div>
            <div class="ct nopadding">
                <div class="container-fluid nopadding">
                    <p class="text-xs-center text-md-left">The code for mapping directory hierarchies is written in Python and can be found below.</p>
                    <br>
                    <p class="text-xs-center text-md-left">It uses a <i>Root</i> class to map the files and directories in any chosen directory, and then creates <i>Directory</i> classes for each directory found. The <i>Directory</i> classes then do the same for the directory they were created for. The resulting data structure preserves the hierarchy of the real directory.</p>
                    <br>
                    <h4><i>directory_tree.py</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Django_Virtual_File_Hierarchy/blob/master/directory_tree.py?footer=0"></script>
                </div>
            </div>
        </div>
        
{% endblock %}