{% extends 'base/base.html' %} 
{% block content %}

<div class="pagect">
    <div class="container-fluid">
        <div class="row">
            <div class="pagehd">
                <h1 align="center">Mapping Filesystems in Django</h1>
                <h4 align="center">(https://github.com/Topazoo/Django_Virtual_File_Hierarchy)</h4>
            </div>
        </div>
        <br>
        <div class="navigation">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/django_fs">The Concept</a></li>
                <li role="presentation"><a href="/django_fs/code">The Code</a></li>
                <li role="presentation"><a href="/django_fs/templates">The Templates</a></li>
            </ul>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="pagehd">
                <h2>Representing Recursive Data on a Webserver</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <br>
                        <br>
                        <p>I run my webservers using the Django Python Web Framework.</p>
                        <br>
                        <p>Django is great because it allows you to easily display variables from a Python backend in the frontend HTML templates.</p>
                        <br>
                    </div>
                    <div class="col-md-8">
                        <h4><i>views.py</i></h4>
                        <pre>
	              <code>
def view_hierarchy(request):
    root = Root()
    root.populate("fs_demo")
    return render(request, 'base/view_hierarchy.html', {'root':root})
	              </pre>
                        </code>
                        <br>
                        <br>
                    </div>
                </div>
                <p>The real challenge here is displaying the Root data structure (containing the recursively mapped directory information) with a template.</p>
                <br>
                <br>
                <p>A great solution is to make your Django HTML templates similarly recursive. This solution mirrors our initial mapping exactly by using one root template to display a list of the top level files and directories.</p>
                <br>
                <br>
                <h4><i>view_hierarchy.html</i></h4>
                <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Django_Virtual_File_Hierarchy/blob/master/templates/view_hierarchy.html?footer=0"></script>
                <br>
                <p>The top level template inserts the recursive template for each directory. The same replacement happens in the recursive template for every lower level directory.</p>
                <br>
                <h4><i>direc_contents.html</i></h4>
                <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Django_Virtual_File_Hierarchy/blob/master/templates/direc_contents.html?footer=0"></script>
                <br>
                <p>The result is a quick way to generate a perfectly preserved representation of any directory hierarchy on your server. See the demo!</p>
            </div>
        </div>
        <hr>
    </div>
</div>
{% endblock %}