{% extends 'django_fs/django_fs_wrapper.html' %} 
{% block data %}

        <div class="col-md-12 nopadding">
            <div class="col-md-6 nopadding">
                <div class="col-md-12">
                    <div class="row">
                        <div class="pagehd">
                            <h2>The Concept</h2>
                            <hr>
                        </div>
                        <div class="ct">
                            <div class="container-fluid nopadding">
                                <li>Some problems in computer science are naturally recursive, like mapping the contents of a filesystem. Every directory must be checked for directories which in turn must be checked for directories in a potentially infinite hierarchy.</li>
                                <br>
                                <br>
                                <li>I set out to use recursion to quickly map directories stored on a server and display them to a web page.</li>
                                <br>
                                <br>
                                <li><b>This code allows a webserver's frontend to dynamically display its underlying filesystem.</b></li>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="row" style="padding-left: 30px;">
                        <div class="pagehd">
                            <h2>Map Filesystem Demo</h2>
                            <hr>
                        </div>
                        <div class="ct">
                            <div class="container-fluid nopadding">
                                <form name="dir-form" , method="post">
                                    {% csrf_token %}
                                    <div class="col-md-12 nopadding">
                                      <div class="col-md-10 nopadding">
                                      <label for="dir">Choose a directory: </label>
                                      <select class="form-control" id="dir" name="dir">
                                        <option value="fs_demo/">fs_demo/</option>
                                        <option value="fs_demo/dir_1/">fs_demo/dir_1/</option>
                                        <option value="fs_demo/dir_1/dir_1_1/">fs_demo/dir_1/dir_1_1/</option>
                                        <option value="fs_demo/dir_2/">fs_demo/dir_2/</option>
                                        <option value="fs_demo/dir_2/dir_2_1/">fs_demo/dir_2/dir_2_1/</option>
                                      </select>
                                      </div>
                                    <div class="col-md-2" style="padding-top: 25px;">
                                      <button class="btn btn-light" id="submit" name="submit">Go!</button>
                                    </div>
                                    </div>
                                  </div>
                                </form>
                                <br>
                                <h3>Root Directory: {{root.dir_name}}/</h3>
                                <br>
                                <p>{{root.dir_name}}/</p>
                                <ul>
                                    {% with root.files as files %} 
                                      {% for file in files %}
                                        <p>- {{file}}</p>
                                      {% endfor %} 
                                    {% endwith %} 
                                    {% with root.directories as dir %} 
                                      {% include "django_fs/direc_contents.html" %} 
                                    {% endwith %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

{% endblock %}