{% extends 'base/base.html' %} 
{% block content %}

<div class="pagect">
        <div class="row">
            <div class="pagetitle">
                <h1 align="center">Mapping Filesystems in Django</h1>
            </div>
        </div>

        <br>

        <div class="navigation">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/django_fs">The Concept</a></li>
                <li role="presentation"><a href="/django_fs/code">The Code</a></li>
                <li role="presentation"><a href="/django_fs/templates">The Templates</a></li>
            </ul>
        </div>

        <br><br>

        {% block data %}
          {% include "django_fs.html" %}
          {% include "django_fs_code.html" %}
          {% include "django_fs_templates.html" %}
        {% endblock %}

		<div class="pagehd">
            <div class="col-md-12">
                <hr>
                <br>
                <h6 align="center"><a class="nostyle" href="https://github.com/Topazoo/Django_Virtual_File_Hierarchy">(https://github.com/Topazoo/Django_Virtual_File_Hierarchy)</a></h6>
            </div>
        </div>
</div>

{% endblock %}