{% extends 'base/base.html' %} 
{% block content %}

<div class="pagect">
    <div class="container-fluid">
        <div class="row">
            <div class="pagehd">
                <h1 align="center">Mapping Filesystems in Django</h1>
                <h4 align="center">(https://github.com/Topazoo/Django_Virtual_File_Hierarchy)</h4>
            </div>
        </div>

        <br>

        <div class="navigation">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/django_fs">The Concept</a></li>
                <li role="presentation"><a href="/django_fs/code">The Code</a></li>
            </ul>
        </div>

        <br>

        <div class="row">
            <div class="pagehd">
                <h2>Mapping Directory Hierarchies</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid">
                    <li>The code for mapping directory hierarchies is written in Python and can be found below.</li>
                    <br>
                    <li>It uses a <i>Root</i> class to map the files and directories in any chosen directory, and then creates <i>Directory</i> classes for each directory found. The <i>Directory</i> classes then do the same for the directory they were created for. The resulting data structure preserves the hierarchy of the real directory.</li>
                    <br>
                    <h4><i>directory_tree.py</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Django_Virtual_File_Hierarchy/blob/master/directory_tree.py?footer=0"></script>
                </div>
            </div>
            <hr>
        </div>

        <br>

        <div class="row">
            <div class="pagehd">
                <h2>Representing Recursive Data on a Webserver</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid">
                    <li>I run my webservers using the Django Python Web Framework. One of the reasons that Django is great is that it allows you to easily display variables from a Python backend in HTML templates on the frontend (provided they can be represented as a string).</li>
                    <br>
                    <br>
                    <li>The real challenge here is displaying the Root data structure (containing the recursively mapped directory information) with a template.</li>
                    <br>

                    <h4><i>views.py</i></h4>
                    <pre>
	                <code>
def view_hierarchy(request):
    root = Root()
    root.populate("fs_demo")
    return render(request, 'base/view_hierarchy.html', {'root':root})
	                </pre>
                    </code>

                    <br>
                    <br>

                    <li>A great solution is to make your Django HTML templates similarly recursive. This solution mirrors our initial mapping exactly by using one root template to display a list of the top level files and directories.</li>

                    <br>
                    <br>

                    <h4><i>view_hierarchy.html</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Django_Virtual_File_Hierarchy/blob/master/templates/view_hierarchy.html?footer=0"></script>
                    <br>
                    <li>The top level template inserts the recursive template for each directory. The same replacement happens in the recursive template for every lower level directory.</li>
                    <br>
                    <h4><i>direc_contents.html</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Django_Virtual_File_Hierarchy/blob/master/templates/direc_contents.html?footer=0"></script>
                    <br>
                    <li>The result is a quick way to generate a perfectly preserved representation of any directory hierarchy on your server. See the demo above!</li>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
{% endblock %}