{% extends 'base/base.html' %} 
{% block content %}

<div class="pagect">
    <div class="container-fluid">
        <div class="row">
          <div class="pagehd">
            <h1 align="center">Mapping Filesystems in Django</h1>
            <h4 align="center">(https://github.com/Topazoo/Django_Virtual_File_Hierarchy)</h4>
          </div>
          <br>
        </div>


        <div class="navigation">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/django_fs">The Concept</a></li>
                <li role="presentation"><a href="/django_fs/code">The Code</a></li>
                <li role="presentation"><a href="/django_fs/templates">The Templates</a></li>
            </ul>
        </div>
        <br>
        <div class="col-md-12 nopadding">
            <div class="col-md-6 nopadding">
                <div class="col-md-12">
                    <div class="row">
                        <div class="pagehd">
                            <h2>The Concept</h2>
                            <hr>
                        </div>
                        <div class="ct">
                            <div class="container-fluid nopadding">
                                <p>Some problems in computer science are naturally recursive, like mapping the contents of a filesystem. Every directory must be checked for directories which in turn must be checked for directories in a potentially infinite hierarchy.</p>
                                <br>
                                <br>
                                <p>I set out to use recursion to quickly map directories stored on a server and display them to a web page.</p>
                                <br>
                                <br>
                                <p><b>This code allows a webserver's frontend to dynamically display its underlying filesystem.</b></p>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="row" style="padding-left: 30px;">
                        <div class="pagehd">
                            <h2>Map Filesystem Demo</h2>
                            <hr>
                        </div>
                        <div class="ct">
                            <div class="container-fluid nopadding">
                                <form name="dir-form" , method="post">
                                    {% csrf_token %}
                                    <div class="col-md-12 nopadding">
                                      <div class="col-md-10 nopadding">
                                      <label for="dir">Choose a directory: </label>
                                      <select class="form-control" id="dir" name="dir">
                                        <option value="fs_demo/">fs_demo/</option>
                                        <option value="fs_demo/dir_1/">fs_demo/dir_1/</option>
                                        <option value="fs_demo/dir_1/dir_1_1/">fs_demo/dir_1/dir_1_1/</option>
                                        <option value="fs_demo/dir_2/">fs_demo/dir_2/</option>
                                        <option value="fs_demo/dir_2/dir_2_1/">fs_demo/dir_2/dir_2_1/</option>
                                      </select>
                                      </div>
                                    <div class="col-md-2" style="padding-top: 25px;">
                                      <button class="btn btn-light" id="submit" name="submit">Go!</button>
                                    </div>
                                    </div>
                                  </div>
                                </form>
                                <br>
                                <h3>Root Directory: {{root.dir_name}}/</h3>
                                <br>
                                <p>{{root.dir_name}}/</p>
                                <ul>
                                    {% with root.files as files %} 
                                      {% for file in files %}
                                        <p>- {{file}}</p>
                                      {% endfor %} 
                                    {% endwith %} 
                                    {% with root.directories as dir %} 
                                      {% include "django_fs/direc_contents.html" %} 
                                    {% endwith %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}