{% extends 'issue_bot/issue_bot_wrapper.html' %} 
{% block data %}

        <div class="row">
            <div class="pagehd">
                <h2>Collecting Information from Reddit</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid nopadding">
                    <p>The code below collects basic information from Reddit.com subreddits as well as top users, their posts and their comments. The subreddits the bot collects information about can be customized via the <i>input/subreddits.xlsx</i> file.</p>
                    <br>
                    <p>The output is generated is broken into three different spreadsheets:</p>
					<br>
					<div class="col-md-12" style="padding-left: 30px;">
					  <p><i>output/subreddit_results.xlsx</i>   -   Breakdown of information collected from each subreddit.</p>
					  <p><i>output/user_results.xlsx</i>   -   Top posters per subreddit and most-used nouns per poster.</p>
					  <p><i>output/comment_results.xlsx</i>   -   Most-used nouns per subreddit.</p>
					  <br>
					</div>
                    <br>
                    <h4><i>Bot.py</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Issue_Saliency_Analysis_Bot/blob/master/POL193_RedditBot/Bot.py?footer=0"></script>
                </div>
            </div>
        </div>

{% endblock %}