{% extends 'issue_bot/issue_bot_wrapper.html' %} 
{% block data %}

        <div class="row">
            <div class="pagehd">
                <h2 class="text-sm-center text-md-left">Analyzing Information from Reddit</h2>
                <hr>
            </div>
            <div class="ct">
                <div class="container-fluid nopadding">
                    <p class="text-sm-center text-md-left">The code below analyzes information collected from Reddit.com subreddits. It uses the <i>textblob</i> Python library to parse out the most used nouns per user and subreddit. It also scores the subjectivity and polarity of each subreddit with <i>textblob’s</i> sentiment analysis tool.</p>
                    <br><br>
                    <h4><i>Analyzer.py</i></h4>
                    <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Issue_Saliency_Analysis_Bot/blob/master/POL193_RedditBot/Analyzer.py?footer=0"></script>
                </div>
            </div>
        </div>
        
{% endblock %}