{% extends 'issue_bot/issue_bot_wrapper.html' %} 
{% block data %}
    
    <div class="col-md-12 nopadding">
        <div class="col-md-6 nopadding">
            <div class="col-md-12">
                <div class="pagehd">
                    <h2 class="text-xs-center text-md-left">The Concept</h2>
                    <hr>
                </div>
                <div class="ct nopadding">
                    <div class="container-fluid nopadding">
                        <p class="text-xs-center text-md-left">Every subreddit on Reddit has its own rules, moderators and regular posters. As a result, each represents its own community in which certain political issues are more salient.</p>
                        <br>
                        <br>
                        <p class="text-xs-center text-md-left">Understanding which issues are politically salient to individual communities is a powerful tool. It can be used to target and prime messages.</p>
                        <br>
                        <br>
                        <p class="text-xs-center text-md-left"><b>This code analyzes subreddit comments to determine the issues most salient to that community.</b></p>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 nopadding">
            <div class="col-md-12" style="padding-left: 30px">
                <div class="pagehd">
                    <h2 class="text-xs-center text-md-left">Get Top Subreddit Users Demo</h2>
                    <hr>
                </div>
                <div class="ct nopadding">
                    <div class="container-fluid nopadding">
                        <form name="sub-form" , method="post">
                            {% csrf_token %}
                            <div class="col-md-12 nopadding">
                              <div class="col-md-10 nopadding">
                                <label for="subreddit">Enter a subreddit name: </label>
                                <input type="text" class="form-control" id="subreddit" name="subreddit" placeholder="e.g. r/politics">
                              </div>
                              <br>
                              <div class="col-md-2" style="padding-top: 5px">
                                <button class="btn btn-default btn-light" id="submit" name="submit">Go!</button>
                              </div>
                            </div>
                            {% if users == None %}
                            <br>
                            <div class="col-md-12 nopadding">
                              <br>
                              <p class="text-xs-center text-md-left" >Note - It may take a minute or so to calculate the top users.</p>
                            </div>
                            {% endif %}
                        </form>
                        <div class="col-md-12" align="center">
                            {% if users != None %}
                              <br>
							  <br>
                              <h4 class="text-xs-center text-md-left">Top users in r/{{subreddit}}</h4>
                              <br>
                              {% for user in users %}
                                <div class="col-md-4">
                                  <p class="text-xs-center text-md-left">{{user.name}}</p>
                                  <br>
                                </div>
                              {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}