{% extends 'messenger/messenger_wrapper.html' %} 
{% block data %}

    <div class="col-md-12 nopadding">
        <div class="col-md-6 nopadding">
            <div class="col-md-12">
                <div class="pagehd">
                    <h2>The Concept</h2>
                    <hr>
                </div>
                <div class="ct" style="padding-top: 10px;">
                        <li style="padding-top: 10px;">I recently bought a Gear S3 Classic smartwatch. When I paired it with my iPhone, I discovered that I could receive messages but not send them.</li>
                        <br><br>
                        <br><br>
                        <li>I set out to build an application to allow me to send messages from my watch over WiFi.</li>
                        <br><br>
                        <br><br>
                        <li><b>This code is a native messaging application for the Gear S3 Smartwatch and a server for sending messages.</b></li>
                    <br>
                    <br>
					<br>
                </div>
            </div>
        </div>

        <div class="col-md-6 nopadding">
            <div class="col-md-12" style="padding-left: 30px;">
                <div class="pagehd">
                    <h2>Server Messaging Demo</h2>
                    <hr>
                </div>
                <div class="ct">
                    <div class="container-fluid nopadding">
                        <label for="phone">Enter a message: </label>
                        <input type="text" class="form-control" id="message" name="message">
                        <br>
                        <br>
                        <label for="phone">Enter a phone number: </label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="e.g. 4152094084">
                        <br>
                        <br>
                        <label for="carrier">Choose a carrier: </label>
                        <select class="form-control" id="carrier" name="carrier">
                            <option value="Verizon">Verizon</option>
                            <option value="AT&T">AT&T</option>
                            <option value="Sprint">Sprint</option>
                            <option value="TMobile">TMobile</option>
                        </select>
						<br>
						<br>
						<label for="auth_key">Enter your authentication key (optional, for now): </label>
                        <input type="text" class="form-control" id="auth_key" name="auth_key">
                    </div>
                    <div class="col-md-12" align="center">
                        <br>
                        <br>
                        <button class="btn btn-light" id="snd-msg">Send Message</button>
                    </div>
                <br>
				<br>
				</div>
            </div>
        </div>
    </div>

{% endblock %}