{% extends 'base/base.html' %} 
{% block content %} 
{% csrf_token %}

<div class="pagect">
    <div class="row">
        <div class="pagetitle">
            <h1 align="center">Messenger App for the Gear S3 Smartwatch</h1>
        </div>
    </div>

    <br>

    <div class="navigation">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="/messenger">The Concept</a></li>
            <li role="presentation"><a href="/messenger/client_code">Client Code</a></li>
            <li role="presentation"><a href="/messenger/server_code">Server Code</a></li>
        </ul>
    </div>

    <br><br>

    {% block data %}
      {% include messenger.html %}
      {% include messenger_client.html %}
      {% include messenger_server.html %}
    {% endblock %}

    <div class="pagehd">
        <div class="col-md-12">
          <hr>
          <br>
          <h6 align="center"><a class="nostyle" href="https://github.com/Topazoo/Gear_S3_Wifi_Messaging">(https://github.com/Topazoo/Gear_S3_Wifi_Messaging)</a></h6>
        </div>
    </div>

</div>

{% endblock %}