{% extends 'messenger/messenger_wrapper.html' %}
{% block data %} 

        <div class="row">
            <div class="pagehd">
                <h3 class="text-xs-center text-md-left">Sending Messages from the Client</h3>
                <hr>
            </div>
            <div class="ct nopadding">
                <div class="col-xs-12 nopadding">
                    <p class="text-xs-center text-md-left">The hard part was writing a client that runs natively on the watch. The code is below, written in C for the Tizen Wearable 3.0+ OS.</p>
                    <br>
                    <p class="text-xs-center text-md-left">It uses the Tizen HTTP library to get text from the watch and transmit it to the messaging server when a button is pressed.</p>
                    <br>
                    <div class="col-xs-12 nopadding">
                      <h4><i>watch_sample.c</i></h4>
                      <script src="http://gist-it.appspot.com/http://github.com/Topazoo/Gear_S3_Wifi_Messaging/blob/master/client/src/watch_sample.c?footer=0"></script>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}